@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "franchise";
  src: url("/fonts/Franchise.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "franchiseFilled";
  src: url("/fonts/FranchiseFilled.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: franchise sans-serif;
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-10 rounded text-3xl transition ease-in-out duration-200;
}

.btn-secondary {
  @apply bg-white hover:bg-blue-500 hover:text-white text-primary font-bold py-3 px-10 rounded text-3xl transition ease-in-out duration-200;;
}

.franchise {
  font-family: franchise;
}

.franchise-filled {
  font-family: franchiseFilled;
}

.font-normal {
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.slider-image {
  display: flex;
  align-items: center;
}

.mobile-menu-button {
  width: fit-content;
}